<!-- <img src="/assets/images/drawing.svg" alt=""> -->
<div class="img">
    <img src="/assets/images/drawing-0.svg" alt="" class="drawing-0 animate__animated animate__fadeInDown animation-2">
    <img src="/assets/images/drawing-1.svg" alt="" class="drawing-1 animate__animated animate__fadeInDown animation-3">
    <img src="/assets/images/drawing-2.svg" alt="" class="drawing-2 animate__animated animate__fadeInDown animation-4">
</div>
<div class="wrapper">
    <div class="row">
        <div class="main">
            <div class="pretitle animate__animated animate__fadeInLeft animation-1">Hello my name is</div>
            <h1 class="title animate__animated animate__fadeInLeft animation-2">Alejo Schlegel</h1>
            <h2 class="subtitle animate__animated animate__fadeInLeft animation-5">I'm a software developer</h2>
            <p class="description animate__animated animate__fadeInLeft animation-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos consequatur pariatur maiores illum ab architecto neque assumenda perferendis officiis soluta.
            </p>
            <p class="description animate__animated animate__fadeInLeft animation-7">
                View my <a href="#works" class="scroll-to toggle">Proyects</a> or <a href="mailto:alejofschlegel@gmail.com" >Contact me</a> .
            </p>
        </div>
    </div>
</div>