<div class="wrapper animate__animated animate__fadeInDown">
    <div class="left">
      <div class="name">
        <img src="/assets/images/icon_black.svg" alt="">
      </div>
    </div>
  
    <div class="right">
      <mat-icon class="menu" (click)="handleMenu()" >menu</mat-icon>
    </div>
</div>

<div class="rightbar animate__animated animate__fadeInRight" id="rightbar">
  <div class="top">
    <mat-icon class="menu" (click)="handleMenu()" >close</mat-icon>
  </div>
  <div class="list">
    <a>Portfolio</a>
    <a>About</a>
    <a>Contact</a>
  </div>
</div>